.liststyle {
    background-image: url("./assets/arrow.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
    display: inline;
}
.uliststyle {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}