/*По умолчанию, элемент "a" синего цвета и у него присутствует
декорация текста ввиде подчеркивания.
Стиль указанный ниже, убирает декорацию текста и задает черный цвет вместо синего*/
a {
    text-decoration: none;
    color: #000;
}

/* Стиль ниже убирает margin у элемента ul, а так же убирает стандартную декорацию
для элемента списка ввиде кружочка. */
ul {
    margin:0;
    list-style: none;
}

/*Данный стиль можно прочитать как:
всем элементам li являющимися дочерними к элементу с идентификатором #dropdown-menu
применить следующие свойства: float:left; background:cyan;
т.е. фон у элемента li станет цвета cyan и все последующие элементы будут обтекать его справа.
Т.к. у нас список и последующие элементы это элементы списка, то все они будут обтекать друг друга справа*/
#dropdown-menu li {
    float: left;
    background: cyan;
}

/*Данный стиль говорит о том, что при наведении указателя мыши на элемент "а" являющийся дочерним
к элементу с идентификатором #dropdown-menu, изменить цвет фона элемента "а" и его цвет*/
#dropdown-menu a:hover{
    background: #0f0;
    color: #00f;
}

/*Всем элементам "а" являющимися дочерними к элементу "li" являющимся дочерним к элементу с идентификатором
#dropdown-menu задать следующие свойства.
    display: block; --- делает элемент блочным
    padding: 4px; --- задает размер подложки элемента
    border-right: 1px solid #000; --- устанавливает размер стиль и цвет правой границы элемента
*/
#dropdown-menu li a {
    display: block;
    padding: 4px;
    border-right: 1px solid #000;
}

/*Всем элементам "ul" являющимися дочерними к элементу с идентификатором #dropdown-menu задать следующие свойства
    width: 150px; --- ширину в 150 пикселей
    visibility: hidden; --- по-умолчанию быть скрытыми
    position: absolute; --- это свойство плохо понимаю; на примере увидел что все как-то съезжает
                            но четко объяснить происходящее не могу.
*/
#dropdown-menu ul {
    width: 150px;
    visibility: hidden;
    position: absolute;
}

/*Всем элементам "li" являющимися дочерними к элементу "ul" являющимся дочерним к элементу
с идентификатором #dropdown-menu задать следующие свойства
    background: yellow; --- фон желтого цвета
    border-bottom: 1px solid #000; --- нижнюю границу размером 1 пиксель солид черного цвета
    width: 100%; --- ширину в 100% т.е. равную ширине родительского элемента
*/
#dropdown-menu ul li {
    background: yellow;
    border-bottom: 1px solid #000;
    width: 100%;
}

/*
    border-right: none; --- переопределяет ранее заданый стиль, т.к. изначально нужна была граница справа
    для разграничения элементов меню верхнего уровня. Если данное свойство не переопределить, то 
    во внутренних элементах меню, будет присутствовать ненужна граница справа.
    width: 100%;
*/
#dropdown-menu ul li a {
    border-right: none;
    width: 100%;
}

/* 
    left:100%; --- смещает список вложенный в список, правее т.к. иначе, он наложится
    на предыдущий список
    width:100%;
    top:0; --- я не увидел разницы при наличии этого свойства или его отсутствия; нужно разбираться;
*/
#dropdown-menu ul ul {
    left:100%;
    width:100%;
    top:0;
}

.hover {
    position: relative;
}
